.ProfilePage {
    margin-bottom: 20px;
}

.profile__job-summary {
    display: flex;
}

.profile__summary,
.profile__experience,
.profile__education,
.profile__project,
.profile__skills,
.profile__certifications {
    text-align: left;
    display: inline-block;
    padding: 20px;
    padding-left: 5px;
    background-color: white ;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}

.update-btn {
    float: right;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.update-btn:hover {
    background-color: #eee;
}

.profile__header {
    color: darkslateblue;
    font-size: 33px;
}

.profile__project-technologies {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.profile__project-technology-item {
    border: 1px solid #ebebeb;
    padding: 10px;
    border-radius: 5px;
}

.profile__skills-list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 90%;
}

.profile__skills-item {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}